layout {

    focus-ring {
        active-color   "#a967e4"
        inactive-color "#1f122b"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#a967e4"
        inactive-color "#1f122b"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1f122b70"
    }

    tab-indicator {
        active-color   "#a967e4"
        inactive-color "#500c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#a967e480"
    }
}

recent-windows {
    highlight {
        active-color "#a967e4"
        urgent-color "#fd4663"
    }
}
