layout {
    background-color "transparent"

    focus-ring {
        active-color   "#adc6ff"
        inactive-color "#9b8ba1"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#adc6ff"
        inactive-color "#9b8ba1"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#adc6ff"
        inactive-color "#9b8ba1"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#adc6ff80"
    }
}

recent-windows {
    highlight {
        active-color   "#0d448e"
        urgent-color   "#ffb4ab"
    }
}