[Unit]
Description=SwayIdle Service
# Start the agent after the graphical session is ready (optional, good practice)
After=graphical-session.target

[Service]
Type=simple

ExecStart=/usr/bin/swayidle -w \
    timeout 3600 'sh -lc "qs -c noctalia-shell ipc call lockScreen lock"' 
    # timeout 14400 'sh -lc "qs -c noctalia-shell ipc call sessionMenu lockAndSuspend"'

# Ensure the process is restarted if it fails
Restart=on-failure

# Give the agent time to register with the D-Bus session
TimeoutSec=30

[Install]
WantedBy=graphical-session.target